Gemfile.lock

.bundle/
pkg/
vendor/bundle/

# Netbeans project directory
/nbproject/

# RubyMine project files
.idea

# Textmate project files
/*.tmproj

# vim artifacts
**.swp

# Environment files that may contain sensitive data
.env
.powenv

# tilde files are usually backup files from a text editor
*~
